<section class="appel" aria-label="Prendre rendez-vous par téléphone">
  <p class="appel__titre">Prendre rendez-vous par téléphone</p>
  <p class="appel__tel"><a href="{{site.telephone_lien}}">{{site.telephone}}</a></p>
  <p class="appel__adresse">{{site.adresse}}, {{site.code_postal}} {{site.ville}}</p>
  <p class="actions"><a class="bouton" href="{{site.telephone_lien}}">Appeler le {{site.telephone}}</a> <a class="lien-suite" href="#venir">Accès et plan</a></p>
  <p class="appel__note">Les séances ont lieu une fois par semaine, toutes les semaines (50 minutes, 90&nbsp;€ la séance).</p>
</section>
