<aside class="barre-laterale" aria-label="À propos d’Emmanuelle Galy">
  <section class="encart encart--portrait">
    [[image nom="portrait-emmanuelle-galy-vertical" alt="Emmanuelle Galy, Gestalt-thérapeute à Paris 14e" classe="encart__portrait" tailles="(min-width: 960px) 240px, 60vw"]]
    <h2 class="encart__titre">{{site.nom}}</h2>
    <p>{{site.presentation}}</p>
    <p><a class="lien-suite" href="/psychotherapeute-paris-14/">Mon parcours</a></p>
  </section>
  [[inclure encart-rdv]]
  [[inclure encart-certifications]]
</aside>
