<div class="galerie">
  [[image nom="cabinet-vue-vers-entree" alt="Le cabinet de psychothérapie, vu vers l'entrée : la bibliothèque en chêne et la porte" classe="galerie__large" tailles="(min-width: 700px) 50vw, 100vw" lien="grand"]]
  [[image nom="cabinet-bibliotheque" alt="La bibliothèque du cabinet" classe="galerie__petite" tailles="(min-width: 700px) 25vw, 50vw" lien="grand"]]
  [[image nom="espace-accueil-attente" alt="L’espace d’accueil du cabinet, à l’arrivée" classe="galerie__petite" tailles="(min-width: 700px) 25vw, 50vw" lien="grand"]]
</div>
